@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400 500 600 700;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
}

@theme {
  --font-poppins: Poppins, 'sans-serif';
  --animate-slideIn: slideIn 0.28s ease-out;
  --animate-slideOut: slideOut 0.28s ease-in;

  @keyframes slideIn {
    from: {
      width: '0';
    }
    ,
    to: {
      width: 'var(--radix-collapsible-content-width)';
    }
  }

  @keyframes slideOut {
    from: {
      width: 'var(--radix-collapsible-content-width)';
    }
    ,
    to: {
      width: '0';
    }
  }
}

@layer base {
  body {
    @apply font-poppins;
  }
}
